div, h1, h2 {
  text-align: center;
}

.hidden {
  display: none;
}

select {
  width: 35%;
  display: inline-block;
  text-align: center;
}

#scatterplotFactors *, #singleMajor * {
  display: inline-block;
}

#categoriesForTopFive {
  width: 36%;
}

#lowHigh {
  width: 15%;
}

#factorsForSingleMajor {
  width: 30%;
}

#singleMajor {
  margin-top: 2%;
}