div, h1, h2 {
  text-align: center;
}

.hidden {
  display: none;
}

select {
  width: 35.3%;
  display: inline-block;
  text-align: center;
}

#scatterplotFactors *, #singleMajor * {
  display: inline-block;
}

#categoriesForTopFive {
  width: 36%;
}

#lowHigh {
  width: 15%;
}

#factorsForSingleMajor {
  width: 30%;
}

#singleMajor {
  margin-top: 2%;
  margin-bottom: 2%;
}

#selectOneMajor {
  width: 47%;
}

#majorInfo {
  margin-top: 3%;
}

.singleMajorName {
  font-weight: bold;
}

#majorInfo p {
  margin-bottom: 0.5%;
}

.colorBox {
  width: 0.5em;
  height: 0.5em;
  margin-right: 0.2em;
  display: inline-block;
}

.legendText {
  font-size: 0.68em;
}

#legend {
  display: inline-block;
  float: right;
  margin-top: 1em;
}

#legend * {
  text-align: left;
}

#scatterPlot {
  display: inline-block;
}